.DS_Store
.env
.env.*
.tools/
.verification/
coverage/
*.log
**/.dart_tool/
**/build/
**/flutter/ephemeral/
**/Pods/
**/.symlinks/
**/macos/Flutter/ephemeral/
**/.bundle/
**/vendor/bundle/
**/storage/*.sqlite3*
**/tmp/*
**/log/*
!**/tmp/.keep
!**/log/.keep
**/config/master.key
